

#ve519 .TwoColorRamp {
  fill-gradient-start-color: #F8F9FA;
}
#ve2616 .styleForTitle_paragraph14 {
  text-align: center;
}
#ve2645 .GraphDataStyle1 {
  fill-color: #7DC3FC;
}
#ve2616 .GraphDataStyleDefault {
  fill-color: #7DC3FC;
}
#ve2645 .styleForTitle_paragraph13 {
  text-align: center;
}
#ve2645 .GraphDataStyle2 {
  text-color: #FF0000;
  fill-color: #F4D3D4;
  line-color: #FF0000;
  marker-color: #FF0000;
}
#ve3361 .Table {
  alt-row-color: #F9FAFB;
  vertical-line-style: solid;
  horizontal-line-style: solid;
}
#ve2636 .GraphDataStyle1 {
  fill-color: #7DC3FC;
}
#ve2594 .styleForTitle_span8 {
  font-weight: bold;
}
#ve519 .GraphSkin {
  data-skin: CRISP;
}
#ve2636 .GraphDataStyle2 {
  text-color: #FF0000;
  fill-color: #F4D3D4;
  line-color: #FF0000;
  marker-color: #FF0000;
}
#ve2645 .styleForTitle_span13 {
  font-weight: bold;
}
#ve2594 .GraphDataStyleDefault {
  fill-color: #7DC3FC;
}
#ve402 .tableColumnbi510 {
  width: 256px;
}
#ve475 .GraphDataStyle2 {
  fill-color: #F4D3D4;
}
#ve597 .GraphSkin {
  data-skin: CRISP;
}
#ve475 .GraphDataStyle1 {
  fill-color: #D2D4FF;
}
#cd512 .If {
  color: #FF0000;
  font-family: Symbola;
}
#ve2636 .styleForTitle_paragraph7 {
  text-align: center;
}
#ve684 .GraphDataStyle2 {
  fill-color: #DD5757;
}
#ve2603 .GraphDataStyle1 {
  fill-color: #7DC3FC;
}
#ve447 .styleForTitle_span3 {
  font-weight: bold;
  font-size: 12pt;
}
#ve2576 .GraphDataStyle1 {
  fill-color: #7DC3FC;
}
#ve2603 .GraphDataStyle2 {
  text-color: #FF0000;
  fill-color: #F4D3D4;
  line-color: #FF0000;
  marker-color: #FF0000;
}
#ve2576 .GraphDataStyle2 {
  text-color: #FF0000;
  fill-color: #F4D3D4;
  line-color: #FF0000;
  marker-color: #FF0000;
}
#ve369 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 14pt;
}
#ve597 .GraphDataStyle2 {
  text-color: #FF0000;
  fill-color: #F4D3D4;
  line-color: #FF0000;
  marker-color: #FF0000;
}
#ve2585 .styleForTitle_span9 {
  font-weight: bold;
}
#ve402 .Header {
  text-align: left;
}
#ve199 .TwoColorRamp {
  fill-gradient-start-color: #FFFF00;
  fill-gradient-end-color: #FF0000;
}
#ve597 .GraphDataStyle1 {
  fill-color: #7DC3FC;
}
#ve2603 .styleForTitle_span11 {
  font-weight: bold;
}
#ve2576 .GraphDataStyleDefault {
  fill-color: #7DC3FC;
}
#ve2603 .GraphDataStyleDefault {
  fill-color: #7DC3FC;
}
#ve402 .Table {
  padding-top: 16px;
  vertical-line-style: none;
  wrap-text: normal;
}
#ve2645 .GraphDataStyleDefault {
  fill-color: #7DC3FC;
}
#ve2594 .GraphDataStyle2 {
  text-color: #FF0000;
  fill-color: #F4D3D4;
  line-color: #FF0000;
  marker-color: #FF0000;
}
#ve2594 .GraphDataStyle1 {
  fill-color: #7DC3FC;
}
#ve2627 .styleForTitle_span10 {
  font-weight: bold;
}
#ve2603 .GraphSkin {
  data-skin: CRISP;
}
#ve597 .styleForTitle_paragraph6 {
  text-align: center;
}
#ve464 .styleForTitle_span4 {
  font-weight: bold;
  font-size: 12pt;
}
#ve2603 .styleForTitle_paragraph11 {
  text-align: center;
}
#ve150 .tableColumnbi175 {
  fill-gradient-start-color: #FFFF00;
  fill-gradient-end-color: #FF0000;
}
#ve150 .tableColumnbi172 {
  width: 178px;
}
#ve464 .styleForTitle_paragraph4 {
  text-align: center;
}
#ve2585 .styleForTitle_paragraph9 {
  text-align: center;
}
#ve387 .styleForTitle_span2 {
  font-weight: bold;
  font-size: 14pt;
}
#ve369 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve402 .tableColumnbi494 {
  width: 366px;
}
#ve501 .styleForTitle_paragraph5 {
  text-align: center;
}
#ve402 .tableColumnbi491 {
  width: 179px;
}
#ve597 .styleForTitle_span6 {
  font-weight: bold;
}
#cd3555 .If {
  background-color: #FF0000;
}
#ve2616 .GraphDataStyle1 {
  fill-color: #7DC3FC;
}
#ve2576 .styleForTitle_span12 {
  font-weight: bold;
}
#ve150 .Header {
  font-size: 12pt;
  text-align: left;
}
#ve2627 .styleForTitle_paragraph10 {
  text-align: center;
}
#ve597 .GraphDataStyleDefault {
  fill-color: #7DC3FC;
}
#ve2576 .styleForTitle_paragraph12 {
  text-align: center;
}
#ve2616 .GraphDataStyle2 {
  text-color: #FF0000;
  fill-color: #F4D3D4;
  line-color: #FF0000;
  marker-color: #FF0000;
}
#ve402 .tableColumnbi406 {
  width: 220px;
}
#ve2594 .styleForTitle_paragraph8 {
  text-align: center;
}
#ve2594 .GraphSkin {
  data-skin: CRISP;
}
#ve2636 .styleForTitle_span7 {
  font-weight: bold;
}
#ve2636 .GraphDataStyleDefault {
  fill-color: #7DC3FC;
}
#ve2645 .GraphSkin {
  data-skin: CRISP;
}
#ve501 .styleForTitle_span5 {
  font-weight: bold;
  font-size: 12pt;
}
#ve2585 .GraphDataStyle2 {
  text-color: #FF0000;
  fill-color: #F4D3D4;
  line-color: #FF0000;
  marker-color: #FF0000;
}
#ve447 .styleForTitle_paragraph3 {
  text-align: center;
}
#ve2585 .GraphDataStyle1 {
  fill-color: #7DC3FC;
}
#ve2636 .GraphSkin {
  data-skin: CRISP;
}
#ve2616 .GraphSkin {
  data-skin: CRISP;
}
#ve3361 .ColumnHeader {
  background-color: #33A3FF;
}
#ve150 .Table {
  padding-top: 16px;
  vertical-line-style: solid;
  horizontal-line-style: none;
  font-size: 14pt;
}
#ve2585 .GraphSkin {
  data-skin: CRISP;
}
#ve2627 .GraphDataStyle1 {
  fill-color: #7DC3FC;
}
#ve150 .tableColumnbi156 {
  width: 144px;
}
#ve2627 .GraphDataStyle2 {
  text-color: #FF0000;
  fill-color: #F4D3D4;
  line-color: #FF0000;
  marker-color: #FF0000;
}
#ve150 .tableColumnbi154 {
  width: 97px;
}
#ve2627 .GraphDataStyleDefault {
  fill-color: #7DC3FC;
}
#ve2616 .styleForTitle_span14 {
  font-weight: bold;
}
#ve199 .TwoColorRamp1 {
  fill-gradient-start-color: #FFFF00;
  fill-gradient-end-color: #FF0000;
}
#ve475 .GraphDataStyleDefault {
  fill-color: #D2D4FF;
}
#ve402 .tableColumnbi419 {
  width: 203px;
  fill-gradient-start-color: #71EBBF;
  fill-gradient-end-color: #DD5757;
}
#ve402 .tableColumnbi417 {
  width: 230px;
}
#ve2627 .GraphSkin {
  data-skin: CRISP;
}
#ve387 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve2585 .GraphDataStyleDefault {
  fill-color: #7DC3FC;
}
#ve2576 .GraphSkin {
  data-skin: CRISP;
}

			